.vision-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  &:nth-child(3) {
    flex-direction: row-reverse;
    @include tablet {
      flex-direction: column;
    }
  }

  @include tablet {
    gap: 42px;
    flex-direction: column;
    align-items: center;
  }
  @include mobile {
    gap: 32px;
  }
  &__text-block {
    max-width: 765px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 48px;

    @include laptop {
      gap: 32px;
    }
  }
  &__image-block {
    max-width: 928px;
    flex: 1;
    @include tablet {
      max-width: 800px;
    }
    @include mobile {
      max-width: 484px;
      width: 100%;
    }
    &--image {
      width: 100%;
      height: 100%;
      @include mobile {
        display: none;
      }
    }
    &--image-mobile {
      display: none;
      @include mobile {
        width: 100%;
        height: 100%;
        display: flex;
      }
    }
  }
}
