@mixin title {
  color: $color-black;
  font-family: $side-ff;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  @include laptop {
    font-size: 38px;
  }
  @include tablet {
    font-size: 32px;
  }
  @include mobile {
    font-size: 22px;
  }
}
@mixin paragraph {
  color: $color-black;
  font-family: $main-ff;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  @include tablet {
    font-size: 20px;
  }
  @include mobile {
    font-size: 16px;
  }
}

@mixin nav-item($font-size: 20px) {
  text-decoration: none;
  color: $color-black;
  font-family: $main-ff;
  font-size: $font-size;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  transition: color 0.3s;

  &:hover {
    color: $color-purple;
  }

  @include laptop() {
    font-size: $font-size * 0.8;
  }
  @include tablet() {
    font-size: $font-size * 0.7;
  }
}

@mixin controls($font-size: 20px) {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 12px;
  border: 1px solid $color-purple;

  font-family: $main-ff;
  font-size: $font-size;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;

  cursor: pointer;

  @include laptop() {
    font-size: $font-size * 0.8;
  }
  @include tablet() {
    font-size: $font-size * 0.7;
  }
}

@mixin section-padding {
  padding: 0 28px;
  @include laptop {
    padding: 0 24px;
  }
  @include tablet {
    padding: 0 18px;
  }
}
