@import "fonts";
@import "variables";
@import "mixins";
@import "breakpoints";
@import "typography";
@import "components/header";
@import "components/about-section";
@import "components/statistics-section";
@import "components/info-section";
@import "components/benefits-section";
@import "components/vision-section";
@import "components/choose-section";
@import "components/footer";
@import "components/modal";
@import "components/payment-status";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  scroll-behavior: smooth;
}
body {
  font-family: $main-ff;
  background-color: #f5f5f5;
}

.layout {
  max-width: $container-max-width;
  margin: 0 auto;

  &__header {
    margin-top: 60px;
    @include laptop {
      margin-top: 50px;
    }
    @include tablet {
      margin-top: 40px;
    }
    @include mobile {
      margin-top: 32px;
    }
  }

  &__footer {
    min-height: 236px;
    max-height: 269px;
    background-color: $color-blue;
    padding-top: 70px;

    @include laptop {
      min-height: 150px;
      padding-top: 45px;
    }
    @include tablet {
      min-height: 100px;
      padding-top: 25px;
    }
    @include mobile {
      min-height: 236px;
    }
  }
}
.main {
  &__about-section {
    @include section-padding;
    margin: 110px 0px 150px;
    @include laptop {
      margin: 100px 0px 130px;
    }
    @include tablet {
      margin: 50px 0px 80px;
    }
    @include mobile {
      margin: 38px 0px 60px;
    }
  }

  &__info-section {
    @include section-padding;
    display: flex;
    flex-direction: column;
    gap: 120px;

    margin: 150px 0 100px;

    @include laptop {
      gap: 100px;
      margin: 140px 0px 90px;
    }
    @include tablet {
      gap: 80px;
      margin: 100px 0px 80px;
    }
    @include mobile {
      gap: 60px;
      margin: 60px 0px 60px;
    }
  }
  &__benefits-section {
    padding: 20px;
    background-color: $color-purple;
  }
  &__vision-section {
    @include section-padding;
    display: flex;
    flex-direction: column;
    gap: 90px;
    margin: 100px 0px 0px;
    @include laptop {
      margin: 80px 0px 0px;
      gap: 70px;
    }
    @include tablet {
      margin: 42px 0px 0px;
      gap: 40px;
    }
    @include mobile {
      margin: 32px 0px 0px;
      gap: 32px;
    }
  }
  &__choose-section {
    @include section-padding;
    margin: 144px 0px 160px;
    @include laptop {
      margin: 96px 0px 120px;
    }
    @include tablet {
      margin: 64px 0px 80px;
    }
    @include mobile {
      margin: 32px 0px 40px;
    }
  }
}
